html
    head
        title Lista de productos del servidor

    body
        a(href="/") Ir al formulario

        #Arreglodeproductos
            if Arreglodeproductos.length == 0 
                h2 No hay datos
            else 
                h2 Listado de productos 
                table
                    tr    
                        th Id
                        th Titulo
                        th Precio
                        th thumbnail
                    each item in Arreglodeproductos
                        tr
                            td= item.id
                            td= item.title
                            td= item.price 
                            td(scope="row")
                                img(src=item.thumbnail, width=100 px)